@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.title{
    text-align: center;
    padding: 0.4rem;
}
          
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.main-title{
    margin-top: 1.5rem;
}
h1,h2,h3,h4,h5,h6{
    font-size: clamp(1.2rem, 2.5vw, 1.8rem); 
}
.txt-sml{
    font-size: 0.7rem;
    color: #1212b5;
}
.title{
    color:#0026e5;
}
header{
    position: relative;
}
/* NAVIGATION */
.humburger{
    cursor: pointer;
    /* position: relative; */
    transition: 200ms ease-in;
}
.humburger span{
    background: #0a3cf3;
    width: 1.8rem;
    height: 0.2rem;
    display: block;
    margin-bottom: 0.3rem;
}
.nav-links-small-screen{
    position: fixed;
    /* background: #2eeb3d; */
    background: #20cb5f;
    /* background: linear-gradient(-45deg, #ee7752, #2de62d, #23a6d5, #23d5ab); */
        background-size: 400% 400%;
        /* animation: gradient 15s ease infinite; */
        /* color: #fff; */
    left: 0;
    /* right: 0; */
    width: 75%;
    top: 2.6rem;
    bottom: 0;
    opacity: 0.99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: -1000;
    transition: 200ms ease-in;
    transform: translateX(-100%);
}
.nav-links-small-screen a{
    color: #fff;

}

/* The .nav-open class is to be manipulated by js */
.nav-open span:nth-of-type(1){
    position: relative;  
    transform: rotate(40deg);
    transition: 500ms;
    top: 1rem;
  }
  .nav-open span:nth-of-type(2){
    transform: scale(1,0);
    transition: 500ms;
    }
    .nav-open span:nth-of-type(3){
      position: relative;
      transform: rotate(-40deg);
      transition: 500ms;
      }


nav{
    position: fixed;
    /* background: #94fc94; */
    background: #20cb5f;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    width: 100%;
    padding: 0.5rem;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0.95;
    /* color: #fff; */
}
nav a{
    /* color: #090420; */
    color: #fff;
    /* color: #3b3bd9; */
    font-weight: 700;
    display: inline-block;
    transition: 200ms ease-in;
}
nav a:hover{
    transform: scale(1.1);
}
.logo{
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
}
.nav-big-screen{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.nav-big-links>*{
    margin-left: 1rem;
    text-transform: uppercase;
}
.nav-small-screens{
    display: none;
    justify-content: space-around;
    align-items: center;
}
/* NAVIGATION */
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    top: 2.3rem;
    /* background: #09471b; */
    /* background: #24c054; */
    /* background: #1c4ab7;   */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right,#1c4ab7, #38ef7d);   */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right,#0954ab, #38ef7d);  */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #17d744;
    background: linear-gradient(-45deg, #4b3fef, #2de62d, #17d744, #23d5ab);
        background-size: 400% 400%;
        /* animation: gradient 15s ease infinite; */
        color: #fff;
    border-radius: 0.2rem;
    /* color: #fff; */
    /* padding-top: 10rem; */
}
.hero img{
    max-height: 500px;
    /* background: #25d48e; */
    /* padding: 0.5rem; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    border-radius: 50%;
    order: -1;
}
.hero-txt h1{
    text-align: center;
    font-size: clamp(1.5rem, 2.5vw, 2rem); 

}
.hero-txt p{
    margin-top: 1rem;
    font-weight: 500;
    line-height: 2;
}
.hero-txt p strong{
    color:#fff;
}

.medals-section{
    background: #0ecd74;
}
.medals-container{
   display: grid; 
   grid-template-columns: repeat(auto-fit, minmax(170px,1fr));
   max-width: 1100px;
   align-items: center;
   justify-items: center;
   justify-content: center;
   margin: auto;
}
section{
   padding: 1.5rem 0.4rem;  
}
 .medal-img{
    min-width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 120px;
    padding: 0.1rem;
    border-radius: 0.2rem;
 }
 .section-title{
    margin: 1rem;
    font-size: clamp(1.3rem, 2.5, 2.5rem); 
    padding: 1.5rem 0.2rem 1.5rem 0.2rem;
    max-width: 800px;
    text-align: center;
    margin: auto;
 }
 .see-all-awards{
    width: 100%;
    height: 100%;
    min-width: 150px;
    min-height: 120px;
    max-width: 150px;
    max-height: 120px;
    padding: 0.1rem;
    border-radius: 0.2rem;
    background: #99feb9;
    display:grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-self: center;
    font-size: 1.1rem;
    font-weight: bold;
 }
 /* .medals-container{ */
   /* -ms-overflow-style: none;*/  /* IE and Edge */
    /*scrollbar-width: none;*/  /* Firefox */
 /* } */
 .medals-container::-webkit-scrollbar {
    display: none;
  }
  /* END OF MEDALS AND AWARDS SECTION */

  /* GUIDE BOOKS SECTION */
  .books-section{
    background: #2cd068;
  }
  .books-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    justify-items:center;
    gap:0.4rem;
}
.books-container a{
    text-align: center;
    transition: 200ms ease-in-out;
}
.books-container a:hover{
    transform: scale(1.02);
}
.books-container a img{
    width: 280px;
    height: 350px;
}
.guide-book-title{
    text-transform: uppercase;
    color: #1212b5;
    padding: 1rem;
    text-align: center;
    font-weight: 600;
}
/* END OF GUIDE BOOKS */


body{
    background: #17d744;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #38ef7d, #2488fa); */
     /* Chrome 10-25, Safari 5.1-6*/
    /* background: linear-gradient(to right, #38ef7d, #2488fa);  */
    /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    /* background: #357af0; */
    /* background: linear-gradient(-45deg, #e8d9d4, #2de62d, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%; */
    background: linear-gradient(-45deg, #3ef097, #2de62d, #7ae493, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        color: #fff;
}

.main-gallery-container{
    background: #17d744;
    /* background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  */
    /* Chrome 10-25, Safari 5.1-6*/
    /* background: linear-gradient(to right, #17ba55, #2488fa); */
     /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    background: linear-gradient(-45deg, #17d744, #1b8c1b, #17d744, #15de65);
    position: relative;
    top:1.5rem;
}
.section-awards-imgs{
    margin: 0;
    width:100%
}
.img-section-title{
    text-align: center;
    padding: 1rem;
    color:#124de1;
}
.awards-gallery{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 0.3rem;
    gap: 0.5rem;
}
.gallery img{
    width: 100%;
    max-width: 150px;
    min-width: 150px;
    height: 100%;
    max-height: 105px;
    border-radius: 0.4rem;
    object-fit: cover;
    transition: 200ms ease-in-out;

}
.gallery img:hover{
    transform: scale(1.05);
}

/* SMALL GALLERIES ON HOME PAGE @index.html */

.photo-gallery-container{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    gap: 1rem;
    justify-items: center;
}

.main-small-gallery-wrapper{
    /* background: linear-gradient(-45deg, #26d6ca, #13a913, #23a6d5, #23d5ab); */
    /* background: #0b6693; */
    /* background: #357af0; */
    display: block;
    color: #ffff;
    padding-top: 0.1rem;
    padding-bottom: 0.3rem;
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    /* background: #23a6d5;
    background: linear-gradient(-45deg, #4b3fef, #46f346, #0e2ee6, #23d5d2);
        background-size: 400% 400%; */
    }
.small-gallery-photos-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 700px;
    /* height: 600px; */
    /* max-width: 250px; */
    justify-content: center;
}
.small-gallery-photos-wrapper img{
    min-width: 115px;
    max-width: 250px;
    height: 110px;
    width: 100%;
    padding: 0.15rem;
    object-fit: cover;
    transition: 200ms ease-in;
    border-radius: 0.3rem;
}
.small-gallery-photos-wrapper img:hover{
    transform: scale(1.02);
}
.small-gallery-descriptive-txt{
    /* padding-right: 0.4rem; */
    /* padding-left: 0.4rem; */
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    /* background: #23a6d5; */
    /* background: #357af0; */
    max-width: 500px;
}
.small-gallery-descriptive-txt a{
    /* color: #f0f1f8; */
    /* color: #1212d7; */
    color: #fff;
    font-style: oblique;
    font-weight: 900;
    /* border: 1px solid #fff; */
    /* background: #23b3e3; */
    /* background: #6c78e7; */
    background: #3d62e4;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border-radius: 0.3rem; */
}

/*start of pdf viewer */
* {
    margin: 0;
    padding: 0;
  }
  
  .top-bar {
    background: rgb(27, 66, 192);
    color: #fff;
    padding: 0.2rem 0.5rem;
    position: sticky;
    top: 2.7rem;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .pdf-container{
    display: grid;
    justify-content: center;
    align-items: center;
    /* justify-items: center; */
    position: relative;
    padding: 0.6rem;
  }
  .btn {
    background: rgb(22, 178, 90);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.1rem 1.5rem;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  .page-info {
    margin-left: 1rem;
  }
  
  .pdf-render{
    /* max-width: 300px; */
    min-width: 300px;
    max-width: 1100px;
    width: 100%;
    /* height: 100%; */
    /* max-height: 700px; */
  }
  .main-pdf-container .title{
    text-transform: uppercase;
    color: #0026e5;
    padding-bottom: 1.5rem;
    font-size: 1.3rem;
  }
  .main-pdf-container .main-title{
    font-size: 1.8rem;
}

/*end of pdf viewer */
/* VIDEO SECTION */
.video-section{
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.video-container {
    position: relative;
}
.video-container #video {
    max-width: 100%;
    border-radius: 0.2rem;
}
.video-container .controls {
    position: absolute;
    bottom: 0rem;
    width: 95%;
    display: flex;
    justify-content: space-around;
    opacity: 0.2;
    transition: opacity 0.4s;
    margin: 1rem;
}
.video-container:hover .controls {
    opacity: 1;
}
.video-container .controls >*{
    padding-left: 0.8rem;
}
.video-container .controls button {
    background: transparent;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 1px 2px #232323;
    border: none;
    cursor: pointer;
}
.video-container .controls .timeline {
    flex: 1;
    display: flex;
    align-items: center;
    border: none;
}
.video-container .controls .timeline .bar{
    background: rgb(23, 23, 173);
    height: 4px;
    flex: 1;
}
.video-container .controls .timeline .bar .inner{
    background: #ccc;
    width: 0%;
    height: 100%;
}
.fa {
    font-size: 1rem !important;
}
/* END OF VIDEO SECTION */

/* media queries go below */
/* NAVIGATION */
@media(max-width:900px){
    .nav-big-screen{
        display: none;
    }
    .nav-small-screens{
        display: flex;
    }
    .hero{
        grid-template-columns: 1fr; 
        padding: 2rem 1rem ;
        gap: 2rem;
        
    }
    .hero-txt{
        color: #fff;
        margin: 0.5rem;
    }
    .hero-img{
        order: -1;
        margin: 0.5rem;
    }
}
@media (max-width:500px){
    .photo-gallery-container{
        grid-template-columns: repeat( auto-fit, minmax(330px, 1fr) );
    }
}
@media (min-width:900px){
    .nav-links-small-screen{
        /* transform: translateX(-100%); */
        display: none;
    }
}

/* css curves */
.background-with-curves{
    overflow:hidden;
    position:relative;
    }
    .background-with-curves::before{
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat; 
    background-size: 100% 45px;
    background-position: 50% 100%;    
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" fill="%2358d84f"/></svg>'); 
    }
    
    @media (min-width:768px){
    .background-with-curves::before{
    background-size: 100% 45px;
    background-position: 50% 100%;   
    }  
    }
     
    @media (min-width:1025px){
    .background-with-curves::before{ 
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 109% 198px;
    background-position: 50% 0%; 
    transform: rotateY(180deg); 
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" fill="%236dd84f"/></svg>'); 
    }
    }
    @media (min-width:2100px){
    .background-with-curves::before{
    background-size: 109% calc(2vw + 198px);
    }
    }
     